.*
!.git*

build/
!**/src/main/**/build/
!**/src/test/**/build/

src/generated/

out/
!**/src/main/**/out/
!**/src/test/**/out/

node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/main/java/ch/bbw/m411/connect4/OliBot.java
